@import './theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#App {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.anticon {
  color: gray;
  cursor: pointer;
}

.anticon:active {
  color: var(--primary-color);
}
.anticon:visited {
  color: black;
}
